<h3 class="page-title">My Pledge For Job-Squid.com</h3>
<div class="documentation-wrapper">
  <div class="block mid-green-1">
    <h3 class="title-center">My pledge to you</h3>
    <ul class="content-offset">
      <li>I pledge to offer a <span class="bold-content">user-first service.</span></li>
      <li>I pledge to <span class="bold-content">not store any of your data anyplace other than on your machine.</span></li>
      <li>I pledge to <span class="bold-content">not sell your information.</span></li>
      <li>I pledge to be <span class="bold-content">totally transparent with you and share how this site works.</span></li>
      <li>I pledge to use <span class="bold-content">Google Analytics and Google Tag Manager responsibly</span> (only view what pages you are visiting).</li>
      <li>I pledge to <span class="bold-content">continuously work on improving this service.</span></li>
    </ul>
  </div>

  <div class="bottom"></div>
</div>
