<mat-toolbar class="title-toolbar">
  <menu-application class="complete-menu" [pageSelectedFn]="pageSelectedFn" />
  <menu-page-level [selectedPageMenu]="selectedPageMenu" [viewGoals]="viewGoals" />

  <span class="fully-center-logo">
    <img class="menu-logo" src="/images/Job-Squid-Small.png" alt="Job-Squid Logo" />
  </span>

  <span class="menu-spacer"></span>

  <button mat-icon-button class="menu-icon" (click)="toggleDarkMode()">
    @if (dark_enabled === true) {
      <mat-icon>light_mode</mat-icon>
    } @else {
      <mat-icon>dark_mode</mat-icon>
    }
  </button>
</mat-toolbar>
