.compare-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em;
  gap: 1em;

  .resume-wrapper,
  .job-wrapper {
    flex-grow: 6;
    max-width: 40%;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--color-squid-palegreen);

    &.wide {
      width: 60%;
      max-width: 60%;
    }

    .title-toolbar {
      color: var(--color-squid-darkgreen);
    }
  }
  .comparison-wrapper {
    --mat-toolbar-container-text-color: var(--color-dark-foreground);

    flex-grow: 2;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--color-squid-mid1green);
    max-width: 19.6em;
  }
}

.title-toolbar {
  background-color: transparent;
  font-family: Metropolis, sans-serif;
  position: relative;

  .space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .no-space-between {
    position: relative;
    left: -1em;

    .title-content {
      position: relative;
      top: -0.2em;
    }
  }

  .title-functionality.active {
    color: var(--color-goal-toolbar3);
  }
}

.resume-list-wrapper {
  max-height: 40vh;
  background-color: var(--mat-sys-surface-variant);
  border: 1px solid var(--mat-divider-color, var(--mat-sys-outline));
  margin-bottom: 1em;
  overflow-x: auto;

  .no-resumes {
    color: #111111;
    padding: 0.5em;
  }
  .action-list {
    padding: 0;

    .action-item {
      --mdc-list-list-item-one-line-container-height: 26px;
    }

    .action-item-span {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .delete-icon {
      height: 19px;
      width: 19px;
      cursor: pointer;
      position: relative;
      left: -0.125em;
      top: 0.0625em;
    }

    .action-item-functionality {
      padding: 0.25em 0.75em;
      background-color: silver;
      margin-left: 1em;
    }

    .percent-functionality {
      padding: 0.25em 0.75em;
      background-color: var(--color-squid-mid1green);
      margin-left: 1em;
      
      display: inline-block;
      width: 3em;
      text-align: right;

      &.range-0-60 {
        color: darkred;
      }
      &.range-61-80 {
        color: var(--color-goal-toolbar2);
      }
      &.range-81-100 {
        color: var(--color-squid-mid3green);
      }
    }

    .delete-functionality {
      position: relative;
    }
  }
}

.expansion-panel {
  margin-bottom: 1em;
}

.resume-form {
  --mat-form-field-container-height: auto;
  
  width: 100%;

  .full-width {
    margin-bottom: 0.5em;
    overflow: auto;
    width: 100%;
  }
}

.resume-form-functionality {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.comparison-button {
  width: 100%;
}

.hint {
  color: var(--color-squid-button);
  font-weight: 700;
}

.isInList {
  --mdc-filled-text-field-container-color: beige;
}
.keywords {
  margin-top: 1em;
  
  .keyword-chip {
    --mdc-chip-container-shape-radius: 20px;
    --mdc-chip-container-height: 24px;
  
    padding: 0 0.25em;
  
    &:not(.match) {
      --mdc-chip-elevated-disabled-container-color: var(--color-goal-toolbar);
      --mdc-chip-disabled-label-text-color: var(--color-squid-mid4green);

      border: 1px solid var(--color-goal-off-white);
    }
    &.match {
      --mdc-chip-elevated-disabled-container-color: var(--color-squid-palegreen);
      --mdc-chip-disabled-label-text-color: var(--color-squid-mid4green);

      border: 1px solid var(--color-goal-white);
    }
  }
}

.import-html {
  display: none;
}
