<h3 data-testid="h3--title" class="page-title">Resume(s) to Job Comparison</h3>
<div class="compare-wrapper">
  <div class="resume-wrapper" [class.wide]="wideElement === 'resume'">
    <mat-toolbar class="title-toolbar">
      <span class="space-between">
        <span class="title-content">Resume(s) Detail</span>
        <button
          mat-icon-button
          class="title-functionality"
          [class.active]="wideElement === 'resume'"
          (click)="toggleResumeWide()"
        >
          <mat-icon fontSet="material-icons-outlined">keyboard_double_arrow_right</mat-icon>
        </button>
      </span>
    </mat-toolbar>

    <div class="resume-list-wrapper">
      @if (resumes.length === 0) {
        <div class="no-resumes">- No Resumes Stored -</div>
      } @else {
        <mat-action-list class="action-list">
          @for (resume of resumes; track resume; let index = $index;) {
            @if (index > 0) {
              <mat-divider></mat-divider>
            }
            <button class="action-item" mat-list-item (click)="selectResume(resume)">
              <span class="action-item-span">
                <span>{{resume.name}}</span>
                <span class="attributes">
                  <span>Keywords: {{ resume.keywords.length }}</span>
                  <span class="action-item-functionality">
                    <button (click)="deleteResume($event, resume)" class="delete-functionality">
                      <mat-icon class="delete-icon">close</mat-icon>
                    </button>
                  </span>
                  @if (showMatchPercent(resume)) {
                    <span
                      class="percent-functionality"
                      [class]="getRange(resume.matchPercent!)"
                    >
                      {{ resume.matchPercent }} %
                    </span>
                  } @else {
                    <span class="percent-functionality range-0-60">- %</span>
                  }
                </span>
              </span>
            </button>
          }
        </mat-action-list>
      }
    </div>

    <form class="resume-form" [formGroup]="resumeForm" (ngSubmit)="onSubmit()">
      <mat-form-field
        class="full-width"
        [class.isInList]="validationChecks['resumeNameInList'] === true"
      >
        <mat-label>Resume Name</mat-label>
        <input
          matInput
          #resumeName
          name="resumeName"
          formControlName="resumeName"
          minLength="3"
          data-testid="input--resume-name"
          (input)="triggerResumeNameValidation($event)"
        />
        @if (validationChecks['resumeNameInList'] === true) {
          <mat-hint class="hint">Warning: Resume Name will be overwritten.</mat-hint>
        }
        @if (resumeForm.value.resumeName) {
          <mat-error data-testid="mat-error--resume-name">Must have a Resume Name.</mat-error>
        }
      </mat-form-field>
      <mat-form-field
        class="full-width"
        [class.isInList]="validationChecks['resumeNameInList'] === true"
      >
        <mat-label>Resume</mat-label>
        <textarea
          matInput
          #resumeContent
          name="resumeContent"
          formControlName="resumeContent"
          minLength="5"
          data-testid="input--resume-content"
          (input)="triggerResumeContentValidation($event)"
          (keyup)="textareaAdjust($event)"
        ></textarea>
        @if (resumeForm.value.resumeContent) {
          <mat-error data-testid="mat-error--resume-content">Must have Resume Conent.</mat-error>
        }
      </mat-form-field>
      <div class="resume-form-functionality">
        <button
          class="functional-button form-button"
          mat-flat-button
          type="button"
          data-testid="button--clear-resume"
          (click)="clearResumeDetails()"
        >Clear Resume</button>
        <button
          class="functional-button form-button"
          mat-flat-button
          type="submit"
          data-testid="button--save-resume"
          [disabled]="doesValidationDisable()"
        >Save</button>
      </div>
    </form>
  </div>
  
  <div class="comparison-wrapper">
    <mat-toolbar class="title-toolbar">
      <span>Comparison</span>
    </mat-toolbar>
    <button
      class="functional-button comparison-button"
      mat-flat-button
      [disabled]="isRunComparisonDisabled()"
      (click)="runComparison()"
    >Run Comparison</button>
    <mat-chip-set class="keywords">
      @for (keyword of jobKeywords.match; track keyword;) {
        <mat-chip class="keyword-chip match" disabled>
          {{ keyword }}
        </mat-chip>
      }
      @for (keyword of jobKeywords.noMatch; track keyword;) {
        <mat-chip class="keyword-chip" disabled>
          {{ keyword }}
        </mat-chip>
      }
    </mat-chip-set>
  </div>
  
  <div class="job-wrapper" [class.wide]="wideElement === 'job'">
    <mat-toolbar class="title-toolbar">
      <span class="no-space-between">
        <button
          mat-icon-button
          class="title-functionality"
          [class.active]="wideElement === 'job'"
          (click)="toggleJobWide()"
        >
          <mat-icon fontSet="material-icons-outlined">keyboard_double_arrow_left</mat-icon>
        </button>
        <span class="title-content">Job</span>
      </span>
    </mat-toolbar>

    <form class="resume-form">
      <mat-form-field class="full-width">
        <mat-label>Job Posting</mat-label>
        <textarea
          matInput
          #jobPosting
          (input)="triggerJobValidation($event)"
          (keyup)="textareaAdjust($event)"
        ></textarea>
      </mat-form-field>
    </form>
  </div>

  <div class="import-html">
    <input
      type="file"
      [accept]="requiredFileType"
      (change)="onFileSelect($event)"
      #fileUpload
    />
  </div>
</div>
