.compare-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em;
  gap: 1em;

  .resume-wrapper,
  .job-wrapper {
    flex-grow: 6;
    max-width: 40%;
    padding: 1em;
    border-radius: 1em;
    background-color: #aaffaa;
  }
  .comparison-wrapper {
    flex-grow: 2;
    padding: 1em;
    border-radius: 1em;
    background-color: #aaffaa;
  }
}

.title-toolbar {
  background-color: transparent;
  font-family: Metropolis, sans-serif;
}

.resume-list-wrapper {
  max-height: 40vh;
  background-color: var(--mat-sys-surface-variant);
  margin-bottom: 1em;
  overflow-x: auto;

  .no-resumes {
    color: #111111;
    padding: 0.5em;
  }
  .action-list {
    padding: 0;

    .action-item {
      --mdc-list-list-item-one-line-container-height: 26px;
    }
  }
}

.expansion-panel {
  margin-bottom: 1em;
}

.resume-form {
  width: 100%;

  .full-width {
    margin-bottom: 0.5em;
    width: 100%;
  }
}

.functional-button {
  --mdc-filled-button-container-shape: 0;
  --mdc-filled-button-container-color: #68B646;

  font-family: MetropolisBold, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.comparison-button {
  width: 100%;
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
