<h3 class="page-title">About Days Of Code Tracker</h3>
<div class="documentation-wrapper">
  <div class="block">
    <button (click)="back()" class="functional-button" mat-flat-button>BACK</button>
  </div>
  <div class="block mid-green-1">
    <h4>Menu Options</h4>
    <ul>
      <li class="list-item">
        <span class="bold">View Goals</span>: This is an option to toggle goals on and off. Goals can be added, edited, and deleted.
      </li>
      <li class="list-item">
        <span class="bold">Export Blank Recordset</span>: Export a JSON file without any data other than the 100 days of records.
      </li>
      <li class="list-item">
        <span class="bold">Export Current Recordset</span>: Export a JSON file with all the data you have saved for 100 days.
      </li>
      <li class="list-item"v=>
        <span class="bold">Import Saved Recordset</span>: Overwrite the current recordset with something saved (CAUTION).
      </li>
    </ul>

    <h4>Usage</h4>
    <p>When you click an element (circle button), it provides an option to enter notes. You do not have to enter notes.</p>
    <p>The circle will turn green until it is clicked again and the notes will be cleared for that element.</p>
  </div>
</div>
