<h3 class="page-title">About Days Of Code Tracker</h3>
<div class="documentation-wrapper">
  <div class="block">
    <button (click)="back()" class="functional-button" mat-flat-button>BACK</button>
  </div>

  <div class="block mid-green-1">
    <h3 class="title-center">Days Of Code Tracker Usage</h3>
    <p class="content-offset">When you click an element (circle button), it provides an option to enter notes. You do not have to enter notes.</p>
    <p class="content-offset">The circle will turn green until it is clicked again and the notes will be cleared for that element.</p>
  </div>

  <div class="block mid-green-4">
    <h3 class="title-center">Menu Options</h3>
    <div class="content-offset">
      <ul>
        <li class="list-item">
          <span class="bold">View Goals</span>: This is an option to toggle goals on and off. Goals can be added, edited, and deleted.
        </li>
        <li class="list-item">
          <span class="bold">Export Blank Recordset</span>: Export a JSON file without any data other than the 100 days of records.
        </li>
        <li class="list-item">
          <span class="bold">Export Current Recordset</span>: Export a JSON file with all the data you have saved for 100 days.
        </li>
        <li class="list-item"v=>
          <span class="bold">Import Saved Recordset</span>: Overwrite the current recordset with something saved (CAUTION).
        </li>
      </ul>
    </div>
  </div>
</div>
