<h3 class="page-title">About Job-Squid.com</h3>
<div class="documentation-wrapper">
  <div class="block mid-green-1 center">
    <img class="image-width" src="/images/Job-Squid-Full.png" alt="Job Squid Hero Image" />
  </div>

  <div class="block mid-green-4">
    <h3 class="title-center">My Core Values</h3>
    <ul class="content-offset">
      <li>Puts Other First.</li>
      <li>Is Authentic &amp; Clear.</li>
      <li>Is Dedicated to Growth.</li>
      <li>Does the Right Thing, not the Right Now Thing.</li>
      <li>Approaches Problem Solving Passionately.
      </li>
    </ul>
  </div>

  <div class="block mid-green-1">
    <h3 class="title-center">The History of Code Squid</h3>
    <p class="content-offset">
      This story was about 8 years into my coding journey and about a decade before the Internet. I was working on a few coding projects in my parent's study. I had three computers set up and was working between them as different processes started and stopped. That afternoon, my sister walked by and exclaimed, "he looks like a <span class="bold">squid</span> jumping between all those computers!" At that moment, the Code Squid came to be ...
    </p>

    <p class="content-offset pad-bottom center"><a class="bold" href="https://code-squid.com">Code-Squid.com</a></p>
  </div>

  <div class="block pale">
    <h3 class="title-center">My Continued Involvement in the Tech Community</h3>

    <p class="content-offset">Coming home from a conference, I saw <span class="bold">#100DaysOfCode</span> posts all over my feed. It was the same thing; lots of posts talking about success, fears, failures ... an no responses. I took it on myself to reach out to a few people.</p>

    <p class="content-offset">In January of 2022, I saw the <a class="bold" href="https://leonnoel.com/100devs/" target="_blank">#100Devs</a> bootcamp start ... thousands of posts on Twitter. There were a lot of people concerned about what they had gotten themselves into.</p>
    
    <p class="content-offset">For four days, I reached out to <span class="bold">support</span> as many students as I could. There was no motive other than to help others.</p>
    
    <p class="content-offset">A month later, they started Coffee Chats and I got an opportunity to meet hundreds of those amazing people!</p>

    <p class="content-offset">After chatting with 800+ people or so, I built something. I build a small page that allowed me to track my #100DaysOfCode journey.</p>
    
    <p class="content-offset pad-bottom">While chatting, I kept telling people to adjust their resumes to match the language of the job posting ... then, I realized that I could build this system and help people in the job hunt; hence Job Squid.</p>
  </div>

  <div class="bottom"></div>
</div>
