<h3 class="page-title">About Job-Squid.com</h3>
<div class="documentation-wrapper">
  <div class="block mid-green-1">
    <h3 class="title-center">Job-Squid.com</h3>
    <p class="content-offset"></p>

    <div class="pseudo-table content-offset">
      <div class="pseudo-1 pseudo-left">
        <span>Job-Squid.com saves <span class="highlight">ALL DATA</span> on your machine.</span>
      </div>
      <div class="pseudo-1 pseudo-right"></div>

      <div class="pseudo-2 pseudo-left">
        <span>This site is <span class="highlight">FREE</span>; I will never charge. That said, I will accept donations to keep it running.</span>
      </div>
      <div class="pseudo-2 pseudo-right">
        <a href="https://buymeacoffee.com/bob.ts">Buy Me A Coffee</a>
      </div>

      <div class="pseudo-3 pseudo-left">
        <span>I do mentoring and have courses at <span class="highlight">Code-Squid</span>.</span>
      </div>
      <div class="pseudo-3 pseudo-right">
        <a href="https://code-squid.com">https://code-squid.com</a>
      </div>

      <div class="pseudo-4 pseudo-left">
        <span>If you have <span class="highlight">ISSUES</span>, please use the repository below to document an issue or contact me via email.</span>
      </div>
      <div class="pseudo-4 pseudo-right">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="mailto:bob+job-squid-issue@code-squid.com"
        >
          bob&commat;code-squid.com
        </a>
        <!-- https://css-tricks.com/all-about-mailto-links/#aa-open-in-new-tab-sometimes-does-matter -->
      </div>

      <div class="pseudo-5 pseudo-left">
        <span>Feel free to check out the code <span class="highlight">REPOSITORY</span>.</span>
      </div>
      <div class="pseudo-5 pseudo-right">
        <a href="https://github.com/bob-fornal/jobs--job-n-resume-comparison">Job Squid Repository</a>
      </div>
    </div>

    <div class="pseudo-table-base">
      <div class="pseudo-pole">
        <img class="pseudo-grass" src="/images/grass.webp" alt="tall grass" />
      </div>
    </div>

  </div>

  <div class="block pale center">
    <img class="image-width" src="/images/Job-Squid-Full.webp" alt="Job Squid Hero Image" />
  </div>

  <div class="block mid-green-4">
    <h3 class="title-center">My Core Values</h3>
    <ul class="content-offset">
      <li>Put Other First.</li>
      <li>Be Authentic &amp; Clear.</li>
      <li>Be Dedicated to Growth.</li>
      <li>Do the Right Thing, not the Right Now Thing.</li>
      <li>Approach Problem Solving Passionately.
      </li>
    </ul>
  </div>

  <div class="block mid-green-1">
    <h3 class="title-center">The History of Code Squid</h3>
    <p class="content-offset">
      This story was about 8 years into my coding journey and about a decade before the Internet. I was working on a few coding projects in my parent's study. I had three computers set up and was working between them as different processes started and stopped. That afternoon, my sister walked by and exclaimed, "he looks like a <span class="bold">squid</span> jumping between all those computers!" At that moment, the Code Squid came to be ...
    </p>

    <p class="content-offset pad-bottom center"><a class="bold" href="https://code-squid.com">Code-Squid.com</a></p>
  </div>

  <div class="block pale">
    <h3 class="title-center">My Continued Involvement in the Tech Community</h3>

    <p class="content-offset">Coming home from a conference, I saw <span class="bold">#100DaysOfCode</span> posts all over my feed. It was the same thing; lots of posts talking about success, fears, failures ... an no responses. I took it on myself to reach out to a few people.</p>

    <p class="content-offset">In January of 2022, I saw the <a class="bold" href="https://leonnoel.com/100devs/" target="_blank">#100Devs</a> bootcamp start ... thousands of posts on Twitter. There were a lot of people concerned about what they had gotten themselves into.</p>
    
    <p class="content-offset">For four days, I reached out to <span class="bold">support</span> as many students as I could. There was no motive other than to help others.</p>
    
    <p class="content-offset">A month later, they started Coffee Chats and I got an opportunity to meet hundreds of those amazing people!</p>

    <p class="content-offset">After chatting with 800+ people or so, I built something. I build a small page that allowed me to track my #100DaysOfCode journey.</p>
    
    <p class="content-offset pad-bottom">While chatting, I kept telling people to adjust their resumes to match the language of the job posting ... then, I realized that I could build this system and help people in the job hunt; hence Job Squid.</p>
  </div>

  <div class="block  mid-green-1">
    <h3 class="title-center">Content Attributions</h3>

    <h4 class="title-left">Artwork</h4>

    <p class="content-offset">In May of 2019, I started working with an artist from Pakistan (Umair - listed on Fiverr as User98674911). He consistenly did amazing work on projects for me. When I started <a href="https://code-squid.com">Code Squid</a> he was the one I reached out to with my concept and I got some AMAZING artwork. Recently, I started to reach out and realized he wasn't there.</p>

    <p class="content-offset">Then, after a few days of research, I found <a href="https://www.fiverr.com/work_supin">Supin</a> who did and amazing job changing the text an character for this site. As I need adaptions, she will be the first artist I reach out to!</p>

    <p class="content-offset">
      <a href="https://www.vecteezy.com/free-png/tall-grass">Tall Grass PNGs by Vecteezy</a>
    </p>
  </div>

  <div class="bottom"></div>
</div>
