.title-toolbar {
  background-color: var(--color-squid-darkgreen);
  color: var(--color-dark-foreground);
  font-family: Metropolis, sans-serif;

  .menu-icon {
    color: var(--color-dark-foreground);
  }

  .menu-spacer {
    flex: 1 1 auto;
  }
}