.days-of-code-wrapper {
  width: 1150px;
  margin: 0 auto;
}
.days {

  .day {
    display: inline-block;
    margin-bottom: 0.25em;
    padding: 1em 0.5em 0 0.5em;
    width: 2.5em;
    line-height: 0.95;
    position: relative;

    &:not(.active) {
      cursor: pointer;
    }
    &.active {
      color: var(--color-off-white);
    }

    .tooltip-text {
      opacity: 0;
      visibility: hidden;
      
      font-size: 0.8em;
      box-sizing: border-box;
      width: 180px;
      background-color: var(--color-squid-mid2green);
      color: var(--color-dark-foreground);
      
      text-align: left;
      border-radius: 6px;
      padding: 1em;
      transition: opacity .6s;
      white-space: pre-wrap;
      
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      top: 75%;
      left: 50%;
      margin-left: -90px;
    }

    .tooltip-text::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent var(--color-squid-mid2green) transparent;
    }

    &:hover .tooltip-text {
      opacity: 1;
      visibility: visible;
    }

    .number {
      margin-top: 0.5em;
      display: block;
      text-align: center;
    }
  }
}