<h3 class="page-title">About Resume(s) to Job Comparison</h3>
<div class="documentation-wrapper">
  <div class="block">
    <button (click)="back()" class="functional-button" mat-flat-button>BACK</button>
  </div>
  <div class="block mid-green-1 center">
    <iframe width="900" height="506.25" src="https://www.youtube.com/embed/Cza36X0r0VE?si=BhAIRMIhJXaAw_tn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>
