.tracker-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-family: MetropolisBold, sans-serif;

  .tracker-title {
    display: inline-block;
  }

  .tracker-status {
    display: inline-block;
  }
}

.tracker-content-wrapper {
  font-family: Metropolis, sans-serif;
  margin-bottom: 1em;;

  .tracker-title {
    text-decoration: underline;
    margin-bottom: 1em;
  }

  .tracker-item-link {
    margin-left: 1em;
  }

  .tracker-content {
    p {
      margin-top: 0;
    }
  }
}
