/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  --mat-form-field-container-text-size: 11pt;
  --mdc-list-list-item-label-text-size: 11pt;

  --color-dark-background: #666666;
  --color-dark-foreground: #eeeeee;
  --color-light-background: #fdfdfd;
  --color-light-foreground: #111111;

  --color-squid-palegreen: #aaffaa;
  --color-squid-mid1green: #b2d5b2;
  --color-squid-mid2green: #87aa87;
  --color-squid-mid3green: #508050;
  --color-squid-mid4green: #275527;
  --color-squid-darkgreen: #001700;
  --color-squid-button: #68b646;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
  &.dark-mode {
    background-color: var(--color-squid-darkgreen);
    color: var(--color-dark-foreground);
  }
  &:not(.dark-mode) {
    background-color: var(--color-light-background);
    color: var(--color-light-foreground);
  }
}

@font-face {
  font-family: Metropolis;
  src: url("/fonts/Metropolis-Regular.otf") format("opentype");
}
@font-face {
  font-family: MetropolisBold;
  src: url("/fonts/Metropolis-Bold.otf") format("opentype");
}
