.documentation-wrapper {
  margin-top: 1em;

  .bottom {
    height: 10em;
  }

  .list-item {
    margin: 0.5em 0;

    .bold {
      font-weight: bold;
    }
  }
}

.block {
  width: 900px;
  margin: 0 auto;
  padding: 1em;

  &.pale {
    background-color: var(--color-light-background);
    color: var(--color-light-foreground);
  }
  &.mid-green-1 {
    background-color: var(--color-squid-mid1green);
    color: var(--color-light-foreground);
  }
  &.mid-green-2 {
    background-color: var(--color-squid-mid2green);
    color: var(--color-light-foreground);
  }
  &.mid-green-3 {
    background-color: var(--color-squid-mid3green);
    color: var(--color-dark-foreground);
  }
  &.mid-green-4 {
    background-color: var(--color-squid-mid4green);
    color: var(--color-dark-foreground);
  }

  &.center {
    display: flex;
    justify-content: center;
  }

  .title-center {
    text-align: center;

    .strikethrough {
      text-decoration: line-through;
    }
  }
  .content-offset {
    margin-left: 8em;
    margin-right: 8em;

    &.pad-bottom {
      margin-bottom: 1em;
    }
    &.center {
      text-align: center;
    }

    .bold {
      font-weight: bold;
    }
  }

  .pseudo-table {
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 1em;

    margin-top: 1.5em;
    margin-bottom: 1.5em;

    display: grid;
    grid-template-columns: auto 15em;

    border: 1px solid transparent;
    background-color: transparent;

    .pseudo-left,
    .pseudo-right {
      background-color: var(--color-squid-palegreen);
      padding: 1.25em;
      display: flex;
      align-items: center;
    }

    .pseudo-left.pseudo-top {
      border-top-left-radius: 1em;
    }
    .pseudo-left.pseudo-bottom {
      border-bottom-left-radius: 1em;
    }
    .pseudo-right.pseudo-top {
      border-top-right-radius: 1em;
    }
    .pseudo-right.pseudo-bottom {
      border-bottom-right-radius: 1em;
    }
  }

  .image-width {
    height: 400px;
  }
}
