/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow-x: hidden;
}
body {
  --mat-form-field-container-text-size: 11pt;
  --mdc-list-list-item-label-text-size: 11pt;

  --color-dark-background: #666666;
  --color-dark-foreground: #f2f3f4;
  --color-light-background: #f2f3f4;
  --color-light-foreground: #111111;

  --color-squid-palegreen: #aaffaa;
  --color-squid-mid1green: #b2d5b2;
  --color-squid-mid2green: #87aa87;
  --color-squid-mid3green: #508050;
  --color-squid-mid4green: #275527;
  --color-squid-darkgreen: #001700;
  --color-squid-button: #68b646;

  --color-goal-white: #ffffff;
  --color-goal-off-white: #f1f1f1;
  --color-goal-off-white2: #e1e1e1;
  --color-goal-black: black;
  --color-goal-off-black: #1f1f1f;
  --color-goal-highlight: var(--color-squid-button);
  --color-goal-tooltip: #555555;
  --color-goal-tooltip2: #bbbbbb;
  --color-goal-tooltip3: #dddddd;
  --color-goal-silver: silver;
  --color-goal-toolbar: #ffaf7b;
  --color-goal-toolbar2: #fef758;
  --color-goal-toolbar3: #FF817A;
  --color-goal-toolbar4: #aea708;

  --mat-menu-container-color: var(--color-squid-mid4green);
  --mat-menu-item-hover-state-layer-color: var(--color-squid-mid2green);
  --mat-menu-item-label-text-color: var(--color-light-background);
  --mat-menu-item-icon-color: var(--color-light-background);
  --mat-checkbox-label-text-color: var(--color-light-background);
  --mdc-checkbox-unselected-icon-color: var(--color-light-background);

  --mdc-list-list-item-label-text-font: Metropolis, sans-serif;
  --mat-form-field-container-text-font: Metropolis, sans-serif;

  --mdc-dialog-container-color: var(--color-squid-mid4green);
  --mdc-dialog-subhead-color: var(--color-light-background);
  --mdc-dialog-container-shape: 5px;

  margin: 0;
  font-family: Metropolis, sans-serif;
  
  &.dark-mode {
    background-color: var(--color-squid-darkgreen);
    color: var(--color-dark-foreground);
  }
  &:not(.dark-mode) {
    background-color: var(--color-light-background);
    color: var(--color-light-foreground);
  }
}

@font-face {
  font-family: Metropolis;
  src: url("/fonts/Metropolis-Regular.otf") format("opentype");
}
@font-face {
  font-family: MetropolisBold;
  src: url("/fonts/Metropolis-Bold.otf") format("opentype");
}

.page-title {
  margin: 1em 2em 0 2em;
}

.mat-mdc-menu-panel {

  .menu-heading {
    margin: 0.5em 0.75em;
    color: var(--color-squid-mid1green);
  }
  .mat-mdc-menu-item {
    --mat-menu-item-with-icon-leading-spacing: 1.5em;
    --mat-menu-item-with-icon-trailing-spacing: 1.5em;

    min-height: 2.5em;
  }
}

.page-menu.selected {
  
  .mat-mdc-menu-item-text {
    font-weight: bold !important;
  }
}

.no-menu-item {
  margin: 1em;
}

.functional-button {
  --mdc-filled-button-container-shape: 0;
  --mdc-filled-button-disabled-container-color: var(--color-goal-tooltip2);

  font-family: MetropolisBold, sans-serif;

  &:not(.cancel-button) {
    --mdc-filled-button-container-color: var(--color-squid-mid2green);
  }
  &.cancel-button {
    --mdc-filled-button-container-color: var(--color-dark-background);
  }
}

.menu-checkbox {
  margin-left: 1em;
}
